html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,fieldset,legend,label,
dl, dt, dd, ol, ul, li, form, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* this area is the beginning of css styling */

body{
    background-color: rgb(130, 226, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.starting{
    margin: 20px;
}
.panda{
    width: 430px;
}
a{
    text-decoration: none;
    padding-top: 4px;
}
hr{
    height: 2px;
    width: 100%;
}
.links{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
.first-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input{
    margin-bottom:20px;
}
.pp2{
    margin: 20px;
   font-size: 20px;
   text-align: center;
}
.story-telling{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnn-1{
    width: max-content;
}
.judging-others{
    margin-top: 50px;
}
h1{
    font-size: 30px;
}

.tabul{
    margin-top: 100px;
    margin-bottom: 100px;
}
table{
    
    padding: 2px;
}
td ,th{
    border: 2px double black;
    margin: 2px;
    padding: 5px;
}
th{
    font-size: 20px;
    font-weight: bold;
}